<div
  class="content d-flex flex-column align-items-center justify-content-center"
>
  <h1 class="mt-3">New Releases</h1>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row" style="width: 90%">
      <div
        class="card col-md-6 col-lg-3 border-0"
        *ngFor="let release of releases"
      >
        <!--TODO: add routing -->

        <a routerLinkActive="active" routerLink="/album/{{ release.id }}"
          ><img
            src="{{ release.images[0].url }}"
            class="card-img-top img-fluid"
            alt="album cover"
        /></a>
        <div class="card-body">
          <p class="card-title fw-bold fs-6">
            <strong>{{ release.name }}</strong>
          </p>

          <p class="cart-subtitle text-muted mb-0">
            New Release<br />
            Album &#8226; {{ release.release_date | date : "YYYY" }} <br />
          </p>
          <p *ngIf="release.total_tracks == 1">
            {{ release.total_tracks }} song<br />
          </p>

          <p *ngIf="release.total_tracks > 1">
            {{ release.total_tracks }} songs
          </p>
          <div class="d-flex gap-1 mt-1" aria-label="Artist selection">
            <a
              *ngFor="let artist of release.artists"
              class="font-weight-light badge bg-secondary"
              routerLink="/artist/{{ release.artists.id }}"
              routerLinkActive="active"
            >
              {{ artist.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
