<section class="about h-100 bg-light">
  <div class="container-fluid h-100">
    <div
      class="h-25 about-header d-flex align-items-center justify-content-center fs-1"
    >
      <p>About</p>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-4">
      <div class="col-md-6 fs-6">
        <h1 class="text-center">Welcome To My First Angular Web App</h1>
        <p>
          Welcome to my Angular-based music discovery platform, where I connect
          users to a world of music using the Spotify API. My app offers an
          immersive experience for exploring new releases, discovering albums,
          and artists seamlessly.
        </p>

        <p>
          At the core of my application is a custom authorization Node API that
          prioritizes top-tier security and functionality. I've developed this
          API to ensure the utmost protection of user data, leveraging Redis
          server for JWT refresh tokens for a robust authentication system.
        </p>
        <p>
          Additionally, I've utilized MongoDB for efficient management of user
          data and preferences. Users' favorite tracks are securely stored in my
          MongoDB database, providing a personalized experience each time the
          app is used.
        </p>
        <p>
          Check out the github page at
          https://github.com/DolmaBhuti/My_Music_App.
        </p>
      </div>
    </div>
  </div>
</section>
